body, h1, h2, h3, h4, h5, h6, p, ul, button, input,
 textarea html, legend, li, ol, td, th, figure {
	margin: 0;
	padding: 0;
}
a, a:active, a:focus {
	text-decoration: none;
	outline: 0
}
li, ol, ul {
	list-style-type: none;
}
.container {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}
button {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	color: white;
	background-color: grey;
	
}
.tabs {
	display: flex;
}
.usTab {
	flex-grow: 1;
	font-size: 15px;
	line-height: 50px;
	color: #f5f5f5;
	text-align: center;
	white-space: nowrap;
	background-color: grey;
	padding: 0 15px;
	border-radius: 15px 15px 0px 0px;
	border: 1px solid grey;
}
.usTab:not(.active) {
	overflow: hidden;
}
.usTab.active {
	background-color: lightblue;
	color: white;
}
.usTab:not(.active):hover {
	cursor: pointer;
}
.users__content-wrap {
	display: flex;
	padding: 40px;
	border: 1px solid grey;
}
.users__photo {
	object-fit: cover;
}
.users__info {
	margin-left: 30px;
	font-size: 20px;
	line-height: 25px;
}
.error {
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: black;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
}
.error p {
	padding-top: 50px;
}
.error span {
	margin-top: 40px;
}
